*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu{
    width: 100%;
    background-color: #F2F2F2;
}

nav{
    background: #F2F2F2;
    height: 80px;
    width: 100%;
}


.logo{
    height: 40px;
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float: left;
    margin-left: 250px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    transition: 0;
    background: #F2F2F2;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
}
li a.genero, li a:hover{
    border-bottom: 4px solid #BF3E67;
    padding: 6px 0; 
}
.Opc_user{
    float: right;
    margin-right: 20px;
}


.circle{
    width: 25px;
    height: 25px;
}

.cart{
    width: 25px;
    height: 25px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    .logo{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F2F2F2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #F2F2F2;
    }
    #check:checked ~ ul{
        left:0;
    }
}

.calzado{
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: 0%;
    margin-right: 0%;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    background: #346A5C;
}