*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu{
    width: 100%;
    background-color: #F2F2F2;
}

nav{
    background: #F2F2F2;
    height: 80px;
    width: 100%;
}


.logo{
    height: 40px;
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float: left;
    margin-left: 250px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    transition: 0;
    background: #F2F2F2;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
}
li a.genero, li a:hover{
    border-bottom: 4px solid #BF3E67;
    padding: 6px 0; 
}
.Opc_user{
    float: right;
    margin-right: 20px;
}


.circle{
    width: 25px;
    height: 25px;
}

.cart{
    width: 25px;
    height: 25px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    .logo{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F2F2F2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #F2F2F2;
    }
    #check:checked ~ ul{
        left:0;
    }
}

.calzado{
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: 0%;
    margin-right: 0%;
}

.separador2{
  background-color: #fff;
  width: 100%;
  height: auto;
}

.icon{
  margin: auto;
  display: inline-block;
  position: relative;
  justify-content:baseline;
  margin-left: 50px;
}

.banco{
  display: flex;
  position: relative;
  justify-content:end;
}
.bancos{
  width: 200px;
}

.separador{
  width: 100%;
  padding: 3px;
  left: 0;
  margin-bottom: 1px;
  background: #E3E3E3;
  margin-top: 25px;
}


.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    background: #346A5C;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 0px 0px 0px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    font-family: acumin-pro, system-ui, sans-serif;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50px;
    font-weight: bold;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 50px;
    padding-bottom: 25px;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: black;
  }
  
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }