*{
    background-color: #F2F2F2;
}

.img1{
    width: 100%;
    height: auto;
}

.img2{
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.img3{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;

}

.contenedor{
    margin: auto;
    display: inline-block;
    position: relative;
    justify-content: space-around;
    margin-top: 25px;

}



.separador{
    width: 100%;
    padding: 3px;
    left: 0;
    margin-bottom: 1px;
    background: #E3E3E3;
    margin-top: 25px;
}

.footer-ul-container{
    background: #F0F0F0;
    margin-bottom: 0;
    margin-top: 0;
}