*{
    background-color: white;
}

.mujer{
  margin-top: 15px;
  margin-left: 50px;
}
.sidenav {
  height: 40%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 0;
  overflow-x: hidden;
}
.content1 {
  margin-top: 0px;
  margin-left: 300px;
  margin-right: 0;
}


.producto{
    margin-left: 50px;
    margin-top: 0;
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    border-style: ridge;
}

.productDescription{
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.produto__price{
  margin-top: 5px;
}

.collapsible {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 50px;
  }
  
  .active, .collapsible:hover {
    background-color: #f1f1f1;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: 50px;
  }